.cabezera{
    background-color: rgb(176, 255, 229);
    color: black;
    width: 100%; /*para que la cabezera ocupe todo el ancho*/
    height: 80px;
    left: 0;
    top: 0;
    position: fixed; /*esto hace que sea fija*/
}

body{
    padding-top: 80px; /*esto es para que la cabezera fija no se
    coma el contenido del body*/
}

h1{
    margin-left: 20px;
}